<form  action="/tasks" method="post">
  <p>What's the task:<input type="text" name="title" id="title"></p>
  <p>Tell me more about that:<input type="text" name="details" id="details"></p>
  <p>Who should do it?<input type="text" name="doer_name" ></p>
  <p><input type="submit" name="submit" value="submit"></p>
</form>
